<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Cloud Providers</title>

<link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" href="../css/table/table.css">
<script src="../js/cloud-providers/cloudprovider.js"type="text/javascript"></script>


</head>

<body >

	<div ng-app="mycloudprovider" ng-controller="MainCtrl" ng-init="selectCloudProviders()">
		
		<div  class="container">

			<div class="page-header" align="center">
				<h1>PAAS-Cloud Provider</h1>
			</div>
			
			
			
			
		<!-- button function -->
			<div class="btn-group">
				<button ng-click="toggleModal()" class="btn btn-primary">
					<i class="glyphicon glyphicon-plus"></i>Add Cloud Provider
				</button>
			</div>
			<!-- end --> 
			
			
			
			
			<modal title="Add Cloud Provider" visible="showModal">

			<div class="container tabs-wrap">
				<ul class="nav nav-tabs col-xs-5" role="tablist">
					
					     <!-- main heder -->  
					 
					<li role="presentation" class="active"><a
						href="#cloud_provider" aria-controls="cloud_provider" role="tab"
						data-toggle="tab" aria-expanded="true">Cloud Provider</a></li>

					<li><a href="#settings" aria-controls="settings" role="tab"
						data-toggle="tab" aria-expanded="false">Settings</a></li>

					<li><a href="#validate" aria-controls="validate" role="tab"
						data-toggle="tab" aria-expanded="false">Validate</a></li>
				</ul>

								<!-- end -->
								
				<div class="tab-content">
					<div class="tab-pane active col-xs-12" id="cloud_provider">
						<form role="form" style="width: auto;">
							<!-- <div>
								<p>Configure a Cloud Provider to use.</p>
								<p>You can create multiple Cloud Providers and use policies
									to govern their usage.</p>
							</div> -->
							<div class="container">
							<div class="row">
							<div class="col-md-5 col-lg-1col-md-offset-3"style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
							<p>Configure a Cloud Provider to use.</p>
								<p>You can create multiple Cloud Providers and use policies
									to govern their usage.</p>
								
							</div>
							</div>
							</div>
							
							
							
							
							
							
							
							
							
							
							<br />
							
							<div class="form-group">
								<label for="name">Name</label> <input style="width: 45%"
									type="text" class="form-control" id="name" placeholder="Name" ng-model="field.name"/>
							</div>
							
							
							
							<!-- <div class="form-group">
								<label for="type">Type</label> <input style="width: 45%"
									type="text" class="form-control" id="type" />
							</div> -->
							
							
				<div class="form-group">
					<label for="type">Type</label> <select class="form-control"style="width: 45%" ng-model="field.type">
						<option value="Amazon Web Services">Amazon Web Services</option>
						<option value="Cisco Intercloud Service(CIS)">Cisco Intercloud Service(CIS)</option>
						<option value="VMWare vCloud Air(vCA)">VMWare vCloud Air(vCA)</option>
						<option value="Digital Ocean">Digital Ocean</option>
						<option value="VMWare vSphere">VMWare vSphere</option>
						<option value="OpenStack">OpenStack</option>
					</select>
				</div>
							
						
							<div class="form-group">
								<label for="cloud_provider">Private Cloud</label> <input
									style="width: 45%" type="text" class="form-control"
									id="cloud_provider" placeholder="Cloud Provider" disabled="disabled" ng-model="field.private_cloud"/>
							</div>
							<div class="form-group">
								<label for="description">Description</label> <input
									style="width: 45%" type="text" class="form-control"
									id="Description" ng-model="field.description"/>
							</div>
							<br /> <br />
							
							
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
							
							
			<!-- 1st window button function --> 
			
								    <button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>
								    <a class="btn btn-primary continue">Next</a>
								    <button class="btn btn-success btn-nirmata"disabled="disabled">Finish</button>
										
											<!-- end -->
									</div>
								</div>
							</div>
						</form>
						
						
						
					</div>

					<div role="tabpanel" class="tab-pane col-xs-12" id="settings">
						<!-- <form role="form">
							<h5 align="left">Enter information for your cloud provider.</h5>
							<br /> -->
						<div class="container">
							<div class="row">
								<div class="col-md-5"
									style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
									<p>Enter information for your cloud provider.</p>
									<br/>
								</div>
							</div>
						</div><br/>



						<div class="form-group">
					<label for="type">Default Region</label> <select class="form-control"style="width: 45%" ng-model="field.default_region">
						<option value="us-west-1">us-west-1</option>
						<option value="us-west-2">us-west-2</option>
						<option value="us-eat-1">us-eat-1</option>
						<option value="eu-west-1">eu-west-1</option>
						<option value="eu-central-1">eu-central-1</option>
						<option value="ap-southeast-1">ap-southeast-1</option>
						<option value="ap-southeast-2">ap-southeast-2</option>
						<option value="ap-northeast-1">ap-northeast-1</option>
					</select>
				</div>
							
							<div class="form-group">
								<label for="id">Account ID</label> <input style="width: 45%"
									type="text" class="form-control" id="id" disabled ng-model="field.account_id"/>
							</div>
							<div class="form-group">
								<label for="external_id">External ID</label> <input
									style="width: 45%" type="text" class="form-control"
									id="external_id" disabled ng-model="field.external_id"/>
							</div>
							
							
							
							<div class="form-group">
								<label for="role_ARN">Role ARN</label> <input style="width: 45%"
									type="text" class="form-control" id="role_ARN" placeholder="enter the AWS IAM role resource name" 
									ng-model="field.role_arn"/>
							</div>
							<br /> <br />

				
					
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
									
			<!-- 2nd window function -->
									  
										<button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>
										<a class="btn btn-primary back">Previous</a>
										<a class="btn btn-primary continue">Next</a>
										<button class="btn btn-success btn-nirmata" disabled="disabled">Finish</button>
										
										    <!-- end -->
									</div>
								</div>
							</div>
							
							<!-- end -->
							
					

					</div>

					<div role="tabpanel" class="tab-pane col-xs-12 tab-pane"
						id="validate">

						<!-- <form role="form">
							<h5 align="left">Validating your cloud provider credentials.
								This may take a few seconds...</h5>
							<br />
							<h5>Provider Status:</h5>
							<br /> <br /> -->
							<div class="container">
							<div class="row">
								<div class="col-md-5"
									style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
									<p>Validating your cloud provider credentials.
								This may take a few seconds...</p>
									
								</div>
							</div>
						</div><br/><br/>
							
				<!-- button fir 3rd window -->
							
							<div class="modal-footer" style="background: #ccefff; width: 45%">
								<div class="bootstrap-dialog-footer">
									<div class="bootstrap-dialog-footer-buttons">
									
				<!-- 3rd window button function -->
									 
							        <button type="button"class="btn btn-danger btn-nirmata col-xs-2"data-dismiss="modal">Cancel</button>    
									<a class="btn btn-primary back">Previous</a>
								    <button class="btn btn-success btn-nirmata" data-dismiss="modal" ng-click="regCloudProviders()">Finish</button>
										
										   <!-- end -->
										   
									</div>
								</div>
							</div>
							
							<!-- end -->
							
							
						
						

					</div>
				</div>
			</div>

			<div id="push"></div>

			</modal>
		</div>

		<hr />

		<div class="container">       
			<table class="table"border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Description</th>
					<th>State</th>
					<th>action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="field in fields">
					<td>{{field.name}}</td>
					<td>{{field.type}}</td>
					<td>{{field.description}}</td>
					<td></td>
					<td></td>
					<!-- <td><button ng-click="deleteCloudProviders(field.name)"
									class="btn btn-danger">Delete</button>
								<button ng-click="updateCloudProviders(field.name)"
									class="btn btn-primary">Update</button></td> -->
				</tr>
				
				</tbody>
			</table>
		</div>

	</div>
	
	
	
	 
	

</body>
</html>