<!DOCTYPE html>
<html ng-app="MyApp">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SignUp</title>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="http://getbootstrap.com/examples/signin/signin.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="../js/controller.js"></script>
</head>
<body ng-controller="MyController">
	<div class="container">
		<div id="loginbox" style="margin-top: 50px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title" align="center">
						<b>SignUp to PAAS</b>
					</div>

				</div>

				<div style="padding-top: 30px" class="panel-body">

					<div style="display: none" id="login-alert"
						class="alert alert-danger col-sm-12"></div>

					<form id="loginform" class="form-horizontal" role="form">


						<div class="form-group">
							<label for="email" class="col-md-4 control-label">CompanyName</label>
							<div class="col-md-7">
								<input type="text" class="form-control" name="cname"
									placeholder="Company Name" ng-model="fields.company_name">
							</div>
						</div>


						<div class="form-group">
							<label for="email" class="col-md-4 control-label">Company Address</label>
							<div class="col-md-7">
								<input type="text" class="form-control" name="caddress"
									placeholder="Company Address" ng-model="fields.company_address">
							</div>
						</div>


						<div class="form-group">
							<label for="email" class="col-md-4 control-label">Email</label>
							<div class="col-md-7">
								<input type="text" class="form-control" name="email"placeholder="Email Address" ng-model="fields.email">
							</div>
						</div>


						<div class="form-group">
							<label for="email" class="col-md-4 control-label">Password</label>
							<div class="col-md-7">
								<input type="password" class="form-control" name="password"placeholder="Password" ng-model="fields.password">
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="col-md-4 control-label">Re-enter
								Password</label>
							<div class="col-md-7">
								<input type="password" class="form-control" name="repassword"placeholder="Re-enter Password">
							</div>
						</div>

						<div class="form-group">
							<!-- Button -->
							<div class="col-md-offset-7 col-md-9">
								<button id="btn-signup" type="button" class="btn btn-info"ng-click="reg()">
									<i class="icon-hand-right"></i>Sign Up
								</button>
								<button class="btn btn-primary btn-large center" type="reset"
									ng-click="reset()">Reset</button>
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>