.row{
    margin-left:0;
    margin-right:;
    background: #000000;  /* for header */
    }

#wrapper {
    padding-left: 10px;
    transition: all .4s ease 0s;
    height: 100%
 
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 20px;
    width: 200px;
    background: black;    /* for downside menubar uuuuuuuuuuuu*/
    position: fixed;
    overflow-y: auto;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;   /* for text alignment */
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left:0;
    margin-left:0;
    width: 100%;
    height: auto;
    border:1px solid;
    width:960px;
}

#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: white;     /* menu */
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: black;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: white;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: white;      /* sidebar name */
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: 	white;
  background: #000000;
  text-decoration: none;
}
.sidebar-nav a:active{
    outline:none;
    border-color:black;
    background-color:black;
    box-shadow:0 0 10px #ffa853;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 20px;
}

.sidebar-nav > .sidebar-brand a {
  color: #00FFFF;
}
/* 
.sidebar-nav > .sidebar-brand a:hover {
  color: #00FFFF;
  background: #FF00FF;
} */

#main_icon
{
   float:right;
   padding-right: 0;
   padding-top: 20px;
}

/* .sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
} */

/* .content-header {
  height: 65px;
  line-height: 65px;
} */


/* .content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
} */


/* @media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
} */


/* #sidebar-wrapper {
    left: 70px;
} */

/* #wrapper.active {
    padding-left: 200px;
} */

/* #wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s;
} */


nav > li > a:hover{
    background-color:#FCC;
}





}
