@(productForm: Form[Product])
@import helper._; 
@import helper.twitterBootstrap._; 
@main("Product form") {
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<title>Insert title here</title>
</head>
<body>
	<h1>Product form</h1>
	@helper.form(action = routes.Products.save()) {
	<fieldset>
		<legend>Product (@productForm("name").valueOr("New"))</legend>
		@helper.inputText(productForm("ean"), '_label -> "EAN")
		@helper.inputText(productForm("name"),'_label -> "Name")
		@helper.textarea(productForm("description"), '_label -> "Description")
	</fieldset>
	<input type="submit" class="btn btn-primary" value="Save">
	<a class="btn" href="@routes.Products.index()">Cancel</a>
	
	<div class="control-group">
<div class="controls">
<input name="tags[0].id" value="1" type="checkbox" > lightweight
<input name="tags[1].id" value="2" type="checkbox" > metal
<input name="tags[2].id" value="3" type="checkbox" > plastic
</div>
</div>
</body>
</html>
} }
