<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%-5level %logger{36} [req: %X{requestId}, visitor: %X{visitorId}] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="deng" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>